{% extends 'layout.html.twig' %}
{% trans_default_domain 'home' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block content %}

    <div class="slideshow owl-carousel">
        <div class="item">
           {# <img src="{{ asset('images/banner.jpg') }}" alt="banner" title="banner" class="img-responsive"/>#}
            <section class="banner-1">

                <h2 class="text-center">Ceci est un vrai template</h2>

                <a href="" class="btn btn-default">About us</a>

                <h1 class="text-center">Remplir le truc</h1>
            </section>
        </div>
        <div class="item">
            <img src="{{ asset('images/banner.jpg') }}" alt="banner" title="banner" class="img-responsive"/>
        </div>
        <div class="item">
            <img src="{{ asset('images/banner.jpg') }}" alt="banner" title="banner" class="img-responsive"/>
        </div>
    </div>
    <!-- slider ends here -->
    <div class="browse">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'home.lastAdverts.Title' | trans }}</h2>
                    <hr/>
                    {% if lastAdverts %}
                    <div class="list-group">

                    {% for advert in lastAdverts %}
                        <div class="list-group-item">
                            <div class="row">
                                <a href="{{ path('show_advert', {'advertslug': advert.slug }) }}"><h3 class="col-md-6">{{ advert.title }}</h3></a>

                                <p class="text-left col-md-3">posted by
                                    <a href="{{ path('show_public_profile', {'pseudo': advert.user.pseudo}) }}">{{ advert.user.pseudo }}</a> on {{ advert.creationDate | date('d-m-Y') }}
                                </p>
                                <p class="text-right col-md-3">category :
                                    {{ advert.category.label }} in {{ advert.section.label }}
                                </p>
                                <p class="col-md-10">
                                    {{ advert.description | shorten_text }} -
                                </p>
                                <h4 class="text-right col-md-2">{{ advert.price }} €</h4>
                            </div>
                        </div>
                    {% endfor %}

                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- browse starts here -->
    <div class="browse">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'home.section.Title' | trans }}</h2>
                    <hr/>
                    <ul class="list-inline">
                        <li><a href="{{ path('show_adverts_by_section',{'label' : 'Shopping' }) }}"><img src="{{ asset('images/shopping.png') }}" alt="icon" title="icon" class="img-responsive" /><p>Shopping</p></a></li>
                        <li><a href="{{ path('show_adverts_by_section',{'label' : 'Jobs' }) }}"><img src="{{ asset('images/selling.png') }}" alt="icon" title="icon" class="img-responsive" /><p>Jobs</p></a></li>
                        <li><a href="{{ path('show_adverts_by_section',{'label' : 'Rent' }) }}"><img src="{{ asset('images/Rental.png') }}" alt="icon" title="icon" class="img-responsive" /><p>Rent</p></a></li>
                        <li><a href="{{ path('show_adverts_by_section',{'label' : 'Services' }) }}"><img src="{{ asset('images/service.png') }}" alt="icon" title="icon" class="img-responsive" /><p>Service</p></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- browse ends here -->


    <!-- banner starts here -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="images/ads.jpg" class="img-responsive" alt="image" title="title"  />
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
