{% extends 'layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} | {{ 'userprofile.pagename' | trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-push-4">
            <h2 class="text-center">{{ 'admin.advertlist.title' | trans }}</h2>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message | trans }}
                </div>
            {% endfor %}
            {#{% for message in app.flashes('danger') %}#}
                {#<div class="alert alert-danger alert-dismissible text-center" role="alert">#}
                    {#<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    {#{{ message | trans }}#}
                {#</div>#}
            {#{% endfor %}#}
        </div>
    </div>
    <div class="row">
        {% include 'includes/_userprofilesidebar.html.twig' %}
        <div class="col-md-6 col-xs-6">
            {% if advertList and sections %}
                {% for section in sections %}
                    <h3 class="alert alert-info">{{ section }}</h3>
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>{{ 'admin.advertlist.creation_date' | trans }}</th>
                            <th>{{ 'admin.advertlist.description' | trans }}</th>
                            <th>{{ 'admin.advertlist.photo' | trans }}</th>
                            <th>{{ 'admin.advertlist.price' | trans }}</th>
                            <th>{{ 'admin.advertlist.category' | trans }}</th>
                            <th>{{ 'admin.advertlist.pseudo' | trans }}</th>
                            <th>{{ 'admin.advertlist.deleteAdvert' | trans }}</th>
                        </tr>
                        {% for advert in advertList %}
                            {% if section == advert.section.label %}
                                <tr>
                                    <td>{{ advert.id }}</td>
                                    <td>{{ advert.creationDate | date('d/m/Y') }}</td>
                                    <td><img src="{{ asset('images/advertphotos/'~ advert.photos | first.url) }}" height="40px"></td>
                                    <td>
                                        <a href="{{ path('show_advert', {'advertslug': advert.slug }) }}">
                                            {{ advert.description | shorten_text }}
                                        </a>
                                    </td>
                                    <td>{{ advert.price }}</td>
                                    <td>{{ advert.category.label }}</td>
                                    <td>{{ advert.user.pseudo }}</td>
                                    <td>
                                        <a href="{{ path('admin_delete_advert', {'advert_id': advert.id}) }}"><div class="text-center"><i class="la la-close alert-danger"></i></div></a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}