{% trans_default_domain 'userprofile' %}

<div class="col-md-3 col-xs-6 col-md-offset-1">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_USER') %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>{{ 'userprofile.sidebar.menu' | trans }}</h4>
            </div>
            <div class="panel-body">
                <a href="{{ path('user_profile', {'pseudo' : app.user.pseudo}) }}" class="list-group-item list-group-item-warning">
                    {{ 'userprofile.menu.infos' | trans }}
                </a>
                <a href="{{ path('show_user_adverts', {'pseudo' : app.user.pseudo}) }}" class="list-group-item list-group-item-warning">
                    {{ 'userprofile.menu.adverts' | trans }}
                </a>
                <a href="#" class="list-group-item list-group-item-warning">
                    {{ 'userprofile.menu.wishlist' | trans }}
                </a>

                <a href="#" class="list-group-item list-group-item-warning">
                    {{ 'userprofile.menu.follow' | trans }}
                </a>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>{{ 'userprofile.sidebar.admin.menu' | trans }}</h4>
                </div>
                <div class="panel-body">
                    <a href="{{ path('user_list') }}" class="list-group-item list-group-item-info">
                        {{ 'userprofile.menu.admin.users' | trans }}
                    </a>
                    <a href="{{ path('advert_list') }}" class="list-group-item list-group-item-info">
                        {{ 'userprofile.menu.admin.adverts' | trans }}
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>