{% extends "layout.html.twig" %}

{% block title %}

    {{ parent() }}my adverts

{% endblock %}

{% block content %}

    <section class="container">

        <div class="panel panel-default">
            {% for advert in advertdata %}

                {% if app.user.id == advert.user.id %}

                    <div class="panel-body">
                        <a href="{{ path('advert_edit', {'advertslug' : advert.slug }) }}" class="col-sm-2 btn btn-default">
                            Edit
                        </a>

                        <a href="{{ path('delete_advert', {'id': advert.id }) }}" class="col-sm-2 btn btn-danger">
                            Delete
                        </a>
                    </div>
                {% endif %}
                    <div class="panel-body">
                        <h2 class="text-center">{{ advert.title }}</h2>
                        <p class="well well-lg">{{ advert.description }}</p>
                        <div class="badge">{{ advert.price }} €</div>
                        <p class="text-right">{{ advert.creationDate | date('Y-m-d') }}</p>
                        <p class="text-right">{{ advert.creationDate | date('H:i:s') }}</p>
                    </div>
                {% endfor %}

        </div>
    </section>

{% endblock %}

