{% extends "layout.html.twig" %}

{% block title %}

    {{ parent() }}Section
    
{% endblock %}

{% block content %}



        <div class="container">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>

            {% for advert in advertsBySection %}

                <tr>
                    <td>
                        <a href="{{ path('show_advert' , {'advertslug' : advert.slug }) }}">
                            {{ advert.title }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ path('filter_adverts_by_category_and_section', {'sectionlabel' : advert.section.label, 'categorylabel' : advert.category.label }  ) }}">
                            {{ advert.category.label }}
                        </a>
                    </td>

                    <td>{{ advert.user.pseudo }}</td>
                    <td>{{ advert.creationDate|date('Y-m-d') }}</td>
                </tr>

                {#{{ dump(advert.category.id ) }}#}
            {% endfor %}



                </tbody>
            </table>
        </div>

    {% include 'includes/_categories.html.twig' %}

{% endblock %}

