{% extends "layout.html.twig" %}

{% block title %}

    {{ parent() }}my adverts

{% endblock %}

{% block content %}

    <section class="container">

        {% for advert in advertdata %}
            {% if app.user.id == advert.user.id %}
                <a href="{{ path('advert_edit', {'advertslug' : advert.slug }) }}" class="col-sm-2 btn btn-default">
                    Edit
                </a>

                <a href="{{ path('delete_advert', {'id': advert.id }) }}" class="col-sm-2 btn btn-danger">
                    Delete
                </a>

            {% endif %}

        <h2 class="text-center">{{ advert.title }}</h2>
        <p class="well well-lg">{{ advert.description }}</p>
        <p class="text-right">{{ advert.creationDate | date('Y-m-d') }}</p>
        <p class="text-right">{{ advert.creationDate | date('H:i:s') }}</p>

        {% endfor %}


    </section>

{% endblock %}

